[run]
source = .
include =
    auth-proxy/*
    inventory-service/*
    legacy-app-demo/*
    discovery-connectors/*
omit =
    */tests/*
relative_files = True

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
