__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
.env
.DS_Store

# SonarQube / SonarScanner
.scannerwork/
sonar-scanner*/
sonar-scanner.zip

# Archivos temporales de Office
~$*

# Pruebas y cobertura
.pytest_cache/
.coverage
coverage.xml
